.wrapper{
	width: 1369px;
	margin:0 auto;
	text-align:left;
	}
@font-face{
	font-family: 'Montserrat', sans-serif;
	src: url('http://fonts.googleapis.com/css?family=Montserrat');
}
body{
background: #c5c5c5;
color:#333;
}
#main-container{
	margin: 100px 300px 0 300px;
	border:5px solid #fff;
	background:#CCC;
	outline:1px solid #888;
	padding:10px;
	min-height:300px;
}
#original_logo{
	border:2px solid #069;
	}
#html_logo{
	font-family:Verdana, Geneva, sans-serif;
	letter-spacing:-3px;
	font-weight:bolder;
	min-width:100px;
	padding:10px;
	}
.tv{
	color:#fff;
	text-shadow:2px 2px 2px #000;
	font-size:70px;
	}
.v{ font-size:65px; margin:2px; }
.zimb{
	margin:1px;
	font-size:80px;
	color:#000;
	text-shadow:1px 1px 1px #000;
	}