.wrapper{
	width: 1369px;
	margin:0 auto;
	text-align:left;
	}
@font-face{
	font-family: 'Montserrat', sans-serif;
	src: url('http://fonts.googleapis.com/css?family=Montserrat');
}
body{
background: #c5c5c5;
color:#333;
}
.margem{ margin: 100px 300px 0 300px; }
#main-container{
	border:5px solid #888;
	background:#fff;
	outline:1px solid #222;
	padding:10px;
	min-height:300px;
}
#original_logo{
	border:2px solid #069;
	}
#html_logo{
	font-family:Verdana, Geneva, sans-serif;
	letter-spacing:-3px;
	font-weight:bolder;
	padding:10px;
	}
.tv{
	color:#eee;
	text-shadow: 0px 1px 2px #000;
	font-size:70px;
	}
.v{ font-size:65px; margin:2px; }
.zimb{
	margin:1px;
	font-size:80px;
	color:#000;
	text-shadow: -1px 1px 5px #777;
	}
.black_o{
	background: #000;
	position:absolute;
	margin:23px 0 0 3px;
	height:50px;
	width:50px;
	border-radius:25px;
	}